:root {
    --primary-color: #fe6432;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* test */
.grid__column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
}

.grid__column-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% - 16.6667%);
}

/* test */


/* animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from))
    }

    to {
        transform: scale(var(--growth-to))
    }
}

@keyframes NotifyShow {
    from {
        opacity: 0;
        transform: scale(0)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    display: none;

}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    animation: fadeIn linear 0.1s;
    will-change: transform;
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    z-index: 1;
    animation: growth linear 0.1s;

}

.btn {
    min-width: 124px;
    height: 36px;
    outline: none;
    border: none;
    text-decoration: none;
    border-radius: 3px;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    color: var(--text-color);
    background-color: transparent;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
}

.btn.btn_hover:hover {
    background-color: rgba(0, 0, 0, 0.05);
}


/* select */
.select-input {
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    animation: fadeIn ease-in 0.2s;

    /*  line-height: 34px; */
}

.select-input__lable {
    color: #717171;
    font-size: 1.4rem;
    border-radius: 2px;

}

.select-input__icon {
    color: #999;
    cursor: pointer;
    margin: 0;
}

.select-input__list {
    list-style: none;
    position: absolute;
    top: calc(100% - 8px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    padding-left: 0;
    font-weight: 500;
    width: 100%;
    display: none;
    padding-top: 5px;
}

.select-input__link {
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    display: block;
    padding: 10px 12px;
    color: #717171;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input::before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    position: absolute;
    top: 100%;
    left: 0;
}

.select-input__link:hover {
    color: var(--primary-color);

}