.header {
    height: var(--header-height);
    background-image: linear-gradient(#f53d2d, #fe6432);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    list-style: none;
    padding-left: 0;
    margin: 8px 0 0 0;
    display: flex;
    align-items: center;
}

.navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.navbar-item,
.navbar-item-link {
    display: inline-block;
    color: var(--white-color);
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 300;
}


.navbar-item:first-child:hover .header__qr {
    display: block;
}

.navbar-item--bold {
    font-weight: bold;
}

.navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 35%;
    transform: translateY(-50%)
}

.navbar-item:hover,
.navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.navbar-item,
.navbar-item-link,
.nav_icon {
    display: inline-block;
    align-items: center;
}

.nav_icon {
    font-size: 1.6rem;
    margin: 0 4px;
    color: var(--white-color);
}

.disable-title {
    cursor: text;
    color: var(--white-color);
}

/* header QR code */
.header__qr {
    background-color: var(--white-color);
    width: 180px;
    position: absolute;
    left: 0;
    top: 118%;
    border-radius: 5px;
    padding: 5px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.header__qr::before {
    position: absolute;
    width: 100%;
    height: 20px;
    top: -18px;
    content: '';
    display: block;

}

.qr-img {

    width: 100%;
}

.qr-apps {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}

.qr-img-dowload {
    height: 15px;
}

.qr-img-dowload:first-child {
    margin-left: 11px;
}

.qr-img-dowload:last-child {
    margin-right: 11px;
}

/*  notification header */
.show-notify:hover .navbar__notify {
    display: block;
}



.navbar__notify {
    position: absolute;
    top: 100%;
    right: 0;
    width: 404px;
    background-color: #fff;
    display: none;
    border: 1px solid gray;
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: NotifyShow ease-in .3s;
    will-change: opacity, transform;
    z-index: 2;
}

.navbar__notify::before {
    content: "";
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 1px;
    top: -26px;
}



.navbar__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.navbar__notify-header h3 {
    color: #666;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    text-transform: capitalize;
    line-height: 40px;
}

.navbar__notify-list {
    padding-left: 0;
    list-style: none;
}

.navbar__notify-item {}

.notify-item--viewed {
    background-color: #FB9086;
}

.navbar__notify-link {
    display: flex;
    width: 100%;
    text-decoration: none;
    padding: 10px;
    align-items: center;
}

.navbar__notify-img {
    width: 48px;
    object-fit: contain;
}

.navbar__notify-link:hover {
    background-color: #f1ecec;
}

.navbar__notify-info {
    margin-left: 8px;
}

.navbar__notify-name {
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.navbar__notify-description {
    color: #494745;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.navbar__notify-footer {
    padding: 10px 0;
    text-align: center;
}

.navbar__notify-footer-btn {
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
}

/* dang ky*/
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--text-color);
    cursor: default;
}

.auth-form__swich-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;

}

.auth-form__form {}

.auth-form__group {}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    font-weight: 600;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}


.auth-form__policy-text {
    margin: 18px 0;
    font-size: 1.2rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__policy-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin: 80px 0 30px 0;
    display: flex;
    justify-content: flex-end;
}


.btn.btn--primary {
    margin-left: 5px;
    background-color: var(--primary-color);
    color: var(--white-color);


}

.btn.btn--disable {
    cursor: default;
    background-color: #999;
    color: #ccc;

}

.auth-form__socials {
    background-color: rgb(235, 231, 231);
    padding: 12px 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.btn--wich--icon {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding: 0 10px;
    background-color: #fff;
}

.btn--wich--icon .fab {
    font-size: 1.8rem;

}

.auth-form__socials .btn--wich--icon:first-child {
    background-color: #046ee5;
    color: var(--white-color);
}

.auth-form__socials-title {
    margin: 0 20px;
}

/* dang ky*/
/*   dang nhap */
.auth-form__aside {}

.auth-form__help {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__link {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
}

.auth-form__link:first-child {
    text-transform: capitalize;
    color: var(--primary-color);
}

.auth-form__help--separate {
    border-left: 1px solid var(--border-color);
    display: block;
    margin: 0 12px;
    height: 22px;
}

/*   dang nhap */


/* dẵ đăng nhập */
.navbar-user {
    position: relative;
}

.navbar-user:hover .navbar-user-menu {
    display: block;

}

.navbar-user--cotainer {
    display: flex;
    align-items: center;
}

.navbar-user-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-user-name {
    font-size: 1.4rem;
    font-weight: 600px;
    ;
    margin-left: 8px;
}

.navbar-user-menu {
    position: absolute;
    list-style: none;
    top: calc(100% + 4px);
    right: 0;
    z-index: 4;
    border-radius: 2px;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    display: none;
    transform-origin: calc(100% - 20px) top;
    animation: NotifyShow ease-in .3s;
}

.navbar-user-menu::before {
    content: "";
    border-style: solid;
    border-width: 10px 15px;
    position: absolute;
    border-color: transparent transparent var(--white-color) transparent;
    top: -20px;
    right: 30px;

}

.navbar-user-menu::after {
    content: "";
    display: flex;
    height: 30px;
    width: 90%;
    position: absolute;
    top: -20px;
    right: 0;
}

.navbar-user-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.navbar-user-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.navbar-user-item {

    width: 140px;
    background-color: var(--white-color);
}

.navbar-user-item-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    display: block;
    padding: 10px 16px;
    font-weight: 600;
}

.navbar-user-item:last-child a {
    border-top: 1px solid rgb(209, 209, 209);
}

.navbar-user-item-link:hover {
    background-color: rgb(240, 229, 229);

}

/* dẵ đăng nhập */

/*     haeder with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    cursor: pointer;
}


.header__cart-icon {
    color: var(--white-color);
    font-size: 2.6rem;
    margin-top: 7px;
}

.header__cart-notice {
    position: absolute;
    right: -9px;
    background-color: var(--white-color);
    padding: 1px 7px;
    color: var(--primary-color);
    font-size: 1.2rem;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    position: absolute;
    top: 145%;
    right: -15px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    transform-origin: calc(100% - 20px) top;
    animation: NotifyShow ease-in .3s;
    will-change: opacity, transform;
    cursor: default;
    display: none;
    z-index: 1;
}

.header__cart-empty-cart .header__cart-empty-cart-img,
.header__cart-empty-cart .header__cart-list-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-empty-cart {
    padding: 24px 0;
}

.header__cart-empty-cart-img {
    width: 54%;
    display: none;
}

.header__cart-list-msg {
    display: none;
    font-size: 1.6rem;
    text-transform: capitalize;
    margin-top: 14px;

}

.header__cart-list::before {
    content: "";
    display: block;
    position: absolute;
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 0px;
    top: -30px;
}

/* has item in cart  */
.header__cart-heading {
    text-align: left;
    margin: 10px 0 10px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
    cursor: text;
}

.header__cart-items {
    list-style: none;
    padding-left: 0;
    height: 50vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: rgb(247, 241, 241);
}

.header__cart-img {
    width: 45px;
    height: 45px;
    object-fit: contain;
    margin: 12px;
    box-shadow: 0 0px 0.8px #333;

}

.header__cart-item-info {
    width: 100%;
    padding: 0 12px 10px 0;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: text;
    height: 40px;

}

.header__cart-item-name {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 500;
    max-height: 3.2rem;
    flex: 1;
    color: var(--text-color);
    padding-right: 16px;
    text-align: left;
    overflow: hidden;
    /*     limit name */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}

.header__cart-item-price {
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 500;
}

.header__cart-item-multiply {
    padding: 0 4px;
    color: #555151;

}

.header__cart-item-qnt {
    color: #555151;
    font-size: 1.2rem;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;

}

.header__cart-item-des {
    font-size: 1.2rem;
    color: #757575;
    font-weight: 600;
    cursor: text;
}

.header__cart-item-rm {
    font-size: 1.4rem;
    font-weight: 400;
}

.header__cart-item-rm:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart--viewcart {
    float: right;
    margin: 0 12px 20px 0;

}

.header__cart--viewcart:hover {
    background-color: var(--primary-color);
    opacity: 0.9;
}

/* has item in cart  */




.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;

}

.header__search-input:focus~.header__search-history {
    display: block;
}

.header__search-history {
    position: absolute;
    top: 110%;
    left: 0;
    background-color: var(--white-color);
    width: calc(100% - 10px);
    border-radius: 2px;
    box-shadow: 0 1px 1px #ccc;
    overflow: hidden;
    display: none;
    z-index: 1;

}

.header__search-history-heading {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(153, 153, 153, 0.616);
    margin: 8px 12px;
}

.header__search-history-list {
    list-style: none;
    padding-left: 0;
    margin: 8px 0 0;
}

.header__search-history-item {
    background-color: #ffffff;
    width: 100%;
    height: 36px;
    padding: 0 12px;
}

.header__search-history-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 38px;
    display: block;
}

.header__search-history-item:hover {
    background-color: rgb(238, 238, 238);
}

.header__search-input {
    height: 100%;
    width: 100%;
    outline-style: none;
    border: none;
    font-size: 1.6rem;
    padding: 0 16px;
    color: var(--text-color);
    /*     không dùng overflow cho cha dc vì sẽ ẩn lịch sử tìm kiếm */
    border-radius: 2px;
}

.header__search-input {}

.header__search-selections {
    border-left: 1px solid var(--border-color);
    cursor: pointer;
    margin: 0 5px 0 10px;
    position: relative;
}

.header__search-label {
    margin-left: 10px;
    font-size: 1.6rem;
    color: var(--text-color);
}

.header__search-selections:hover .header__search-option {
    display: block;
}

.header__search-option {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    list-style: none;
    width: 134px;
    box-shadow: 0 1px 1px #ccc;
    padding: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__search-option::after {
    content: '';
    display: block;
    height: 30px;
    width: 80%;
    position: absolute;
    top: -20px;
    right: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 18px;
    z-index: 1;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

}

.header__search-option-item:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.header__search-option-item:hover {
    background-color: rgb(236, 236, 236);
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 10px;
}

.header__search-option-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    display: none;
}

.item-active i {
    display: inline-block;
}



.header__search-icon {
    color: #999;
    margin: 0 10px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    outline: none;
    height: 34px;
    border-radius: 2px;
    margin-right: 4px;
    width: 60px;
    cursor: pointer;
}

.header__search-btn:hover {
    background-color: #fc784d;
}

.header__search-btn--icon {
    color: var(--white-color);
    font-size: 1.2rem;
}

/*     haeder with search */

/* css body */
.app__container {
    background-color: #f5f5f5;
    padding-top: 32px;
}

.category {
    background-color: var(--white-color);
    padding: 0 20px;
}

.category__heading {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.category__heading-icon {
    margin-right: 10px;
    font-size: 1.2rem;
}

.category__heading-header {
    font-size: 1.6rem;
    font-weight: 600px;
}

.category-list {
    list-style: none;
    padding-left: 0;
    position: relative;
    margin-left: 8px;
}

.category-item {}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::after {
    content: "";
    display: block;
    border: 5px solid;
    border-color: transparent transparent transparent var(--primary-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -8px;
}

.category-item__link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    right: 0;
    padding: 8px 0;
    transition: right linear 0.1s;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

.grid__column-2 .grid__column-10 {}

.home-filter {
    background-color: #ededed;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.home-filter__lable {
    color: #717171;
    font-size: 1.6rem;
    margin-right: 17px;
}




.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter .btn--primary {
    margin: 0;
}

.home-filter .btn {
    margin-right: 12px;
    min-width: 90px;
}


.home-filter__page-num {
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-lastpage {
    margin-right: 14px;
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    background-color: var(--white-color);
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: #565656;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;

}

.home-filter__page-btn-disable {
    background-color: #F5F5F5;
    color: #cfcfcf;
}

/* product item */


.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    /*   top: 0;
    transition: top linear 0.1s; */
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    transform: translateY(-1px);
    /*   top: -1px; */
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    /*     nếu ảnh dài quá
    background-size: cover; */
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 4px 10px;
    overflow: hidden;
    /*   làm dấu 3 chấm */
    /* display: block; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    /*  dùng trên 1 dòng */
    /*   height:1.8rem;
   text-overflow: ellipsis;
   white-space: nowrap; */
}

.home-product-item__price {
    margin: 4px 10px;
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    text-decoration: line-through;
    margin-right: 5px;
    color: #aaaaaa;
    font-size: 1.4rem;

}

.home-product-item__price-current {
    color: var(--primary-color);
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 10px;
    color: #aaaaaa;
}

.home-product-item__action-like {
    font-size: 1.3rem;
}

.home-product-item__action-like .home-product-item__action-like-icon-fill {
    display: none;
}

.home-product-item__action-like-liked .home-product-item__action-like-icon-fill {
    display: inline-block;
    color: rgb(219, 84, 84);
}

.home-product-item__action-like-liked .home-product-item__action-like-icon-empty {
    display: none;
}

.home-product-item__action-rating {
    margin: -1px 0 0 auto;
    font-size: 0.8rem;
    /*     transform:scale(0.8); 
    transform-origin: right; */
}

.home-product-item__sold {
    margin-left: 5px;
    font-size: 1.2rem;
    color: var(--text-color);
}

.home-product-item__action-rating-gold {
    color: var(--star-gold--color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
}

.home-product-item__origin {
    display: flex;
    font-size: 1.2rem;
    color: #9f9f9f;
    margin: 3px 10px 0;
    font-weight: 300;

}

.home-product-item__brand {
    margin-right: auto;
}

.home-product-item__origin-name {}

.home-product-item__farvourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__farvourite::before {
    content: "";
    position: absolute;
    display: block;
    border-width: 20px;
    top: 100%;
    left: 0;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__farvourite span {
    color: var(--white-color);
}

.home-product-item__farvourite .fas {
    font-size: 0.9rem;
    margin: 0 2px 0 4px;
    color: var(--white-color);
    line-height: 1.6rem;
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.94);
    text-align: center;
    padding: 5px 0;
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after {
    content: "";
    display: block;
    top: 100%;
    right: 0;
    position: absolute;
    border-width: 0 20px 4px;
    border-style: solid;
    color: rgba(255, 216, 64, 0.94);
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-percent {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.3rem;
}

.home-product-item__sale-off-lable {
    color: var(--white-color);
    font-size: 1.3rem;
}

/* product item */
.home-pagination {
    padding: 30px 0 32px;

}

/*  footer */
.footer {
    border-top: 4px solid var(--primary-color);
}

.footer__heading {
    font-size: 1.4rem;
    color: #4a4a4a;
    text-transform: uppercase;
}

.footer__list {
    list-style: none;
    padding-left: 0;
}

.footer-item {
    padding: 10px 0;
    font-size: 1.2rem;
}

.footer-link {
    text-decoration: none;
    color: #b3b3b3;
    display: flex;
    align-items: center;
    max-width: fit-content;
}

.footer-link:hover {
    color: var(--primary-color);
}

.footer-item-icon {
    color: #4a4a4a;
    font-size: 1.6rem;
    margin-right: 10px;
}

.footer__dowload {
    display: flex;
}

.footer-img {}

.footer-qr-img {
    width: 86px;
    height: 86px;
    border: 1px solid var(--border-color);
    object-fit: contain;
}

.footer-apps {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-app-link {
    text-decoration: none;
}

.footer-img-dowload {
    width: 80px;
    height: 20px;
    margin-left: 10px;
    object-fit: contain;
}

.footer__bottom {
    background-color: #F5F5F5;
    padding-bottom: 10px;
}

.footer__caption {
    padding:10px 20px;
}

.footer__caption-list {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.footer__caption-name {}

.footer__caption-link {
    display:block;
    padding: 0 20px;
    text-decoration: none;
    color: #4a4a4a;
    font-size: 1.4rem;
    text-transform: uppercase;
    border-right: 1px solid #c9c3c3;
}
.footer__caption-name:last-child .footer__caption-link{
    border: none;
}
.footer__logo{
    padding:20px ;
    display: flex;
    justify-content:center;
}
.footer__logo-img{
    display:block;
}
.footer__logo-img img{
    width:120px;
    height:45px;
    object-fit: contain;
}
.footer__logo-img:first-child{
    margin-right: 40px;
}
.footer-text {
    text-align: center;
    font-size: 1.2rem;
    list-style: 1.6rem;
    color: #4a4a4a;
}

.footer-text p:first-child {
    padding: 10px 0 15px 0;
}

.footer-text p {
    margin: 10px 0;
}

/* .footer-text p:last-child{
    padding-bottom: 20px;
} */