* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menu_bar {
    min-height: 60px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;

}

.menu_list {
    padding: 0 80px;
    display: flex;
}

.menu_list>li {
    margin: 0 8px;
    list-style: none;
    /*    display: inline-block; */
    align-self: center;
    display: block;
}

.menu_list>li>a {
    text-decoration: none;
    color: black;
    padding: 20px;
}

.menu_list>li>a:hover {
    color: azure;
    background-color: black;
}

.column-layout {
    margin: 0 60px;
    display: flex;
}

.column-item {
    padding: 0 16px;
    flex: 1;
    border-left: 1px solid black;
}
.column-item:first-child{
    border-left:none;
}